section {
    color: violet;   
    background-color: rgba(96, 86, 86, 0.75);
}

h3 {
    font-weight: bold;
    color: white;
    text-decoration: underline;
    background-color: black;
}

ul {
    list-style: none;
}